* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
section h2,
section h3,
form button {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


section h3 {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, footer {
    padding: 16px;
    background-color: #7f4923;
    color: #ffe44d;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

header nav li a {
    color: #ffe44d;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.store-front {
    height: 600px;
    width: 600px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px;
    color: #7f4923;
}

section h2 {
    margin-bottom: 32px;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
}

form button {
    background-color: #7f4923;
    color: #ffe44d;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #c2743c;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}


.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 46px;
}

.conteudo img {
    max-width: 100%;
}

.destaque {
    margin-bottom: 46px;
}

.destaque .destaque-products a{
    display: flex;
    font-size: 2em;
}

.destaque .destaque-products img {
    margin-right: 8px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}